.songs-samples-editing-form-container {
  padding: 10px;
  margin: 0 auto;
  width: 600px;
  border: 1px solid white;
}
.song-samples-editing-sample-info {
  background-color: #873346;
  color: black;
  padding: 20px;
  margin-top: 30px;
}
.song-samples-editing-song-info {
  background-color: #4b7f91;
  color: black;
  padding: 20px;
}