/* .App {
  text-align: center;
} */

body {
  background-color: #0b0b0b;
  color: #fdfffe;
  font-family: 'Coda Caption';
  font-size: 18px;
  text-align: center;
}
.App h1 {
  color: #dcd781;
}
a {
  color: white;
}
/* .App h1 {
  color: #f25569;
} */
#submit-button {
  background-color: #2b4781;
  color: white;
}
button {
  background-color: #3a6a6f;
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

