
body {
  background-color: #0b0b0b;
  color: #fdfffe;
  font-family: 'Coda Caption';
  font-size: 18px;
  text-align: center;
}
.App h1 {
  color: #dcd781;
}
a {
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#submit-button {
  background-color: #f5a64f;
  color: black;
}
.searchbar-parent-div {
  display: flex;
  flex-direction: row;
}
.searchbar-parent-div button {
  margin-left: 10px;
}
button {
  background-color: #3a6a6f;
  color: white;
}

.footer {
  padding: 30px;
}

@media (max-width: 400px) {
  body {
    font-size: 15px;
  }
  #home-pic {
    width: 300px;
  }
}

