.producers-detail-parent-div img{
  width: 500px;
}
.producers-detail-text {
  margin: 0 auto;
  width: 600px;
  background-color: #792838;
}
#producers-detail-songs-worked-on {
  color: yellow;
}

@media (max-width: 400px) {
  .producers-detail-parent-div img{
    width: 300px;
  }
  .producers-detail-text {
    width: 350px;
  }
}

