.songssamples-parent-div {
  display: inline-flex;
  flex-direction: row;
}
.songssamples-entry {
  margin: 30px;
  width: 400px;
}
.songssamples-song img {
  width: 100%;
} 
.songssamples-song-img-div {
  width: 350px;
  height: 350px;
}
.songssamples-song h3 {
  background-color:#5d262d;
  color: white;
} 
.songssamples-song {
  background-color: black;
  
  padding: 10px;
  color: white;
  border: 1px solid white;
}
.songssamples-song a {
  color: black;
}
.songssamples-sample {
  padding: 10px;
  color: black;
  color: white;
  border: 1px solid white;
}
.songssamples-sample h3 {
  background-color: #2e436c;
  color: white;
}
.songssamples-samples-img-div {
  width: 350px;
  margin: 0 auto;
}
.songssamples-sample img {
  width: 100%;
} 

@media (max-width: 400px) {
  .songssamples-entry {
    margin: 30px;
    width: 300px;
  }
  .songssamples-song-img-div {
    width: 250px;
    height: 250px;
  }
  .songssamples-samples-img-div {
    width: 250px;
    margin: 0 auto;
  }
}

