.songssamples-entry {
  background-color: #f98e62;
  margin: 10px;
  /* width: 400px; */
}
.songssamples-song img {
  width: 40%;
} 
.songssamples-song {
  background-color: #f25569;
  padding: 10px;
  color: black;
}
.songssamples-sample {
  padding: 10px;
  margin: 10px;
  color: black;
}
.songssamples-sample a {
  color: black;
}